* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-clr: #785dc8;
}

html,
body {
  scroll-behavior: smooth;
}

body {
  --secondary-clr: #c7b05b;
  --background-clr: #cdcdcd;
  --shadow-main: #b4b4b4;
  --shadow-sec: #eee;
  background-color: var(--background-clr);
  --btn-height: 60px;
}

.dark {
  --secondary-clr: #8f7d3d;
  --background-clr: #323232;
  --shadow-main: #4a4a4a;
  --shadow-sec: #050505;

  .neomorphism {
    color: #999;
  }
  .display {
    background-color: #666;
    color: #eee;

    .prev {
      color: #ccc;
    }
  }

  .theme-toggler {
    border: 0;
    background-color: #aaa;
    .vert,
    .horiz {
      display: none;
    }
    .detail::after {
      position: absolute;
      content: '';
      width: 22px;
      aspect-ratio: 1;
      background-color: var(--background-clr);
      border-radius: 50%;
      left: -8px;
    }
  }
}

.neomorphism {
  background: var(--background-clr);
  border: 1px solid var(--background-clr);
  box-shadow: 6px 6px 12px var(--shadow-main), -6px -6px 12px var(--shadow-sec);
}

.neo-btn:active {
  box-shadow: inset 4px 4px 12px var(--shadow-main),
    inset -4px -4px 12px var(--shadow-sec);
  color: #444;
}
